.view{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
}
.view-line>*{
    font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
    .view-line>*{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 390px) {
    .navbar>h1{
        font-size: 1.5rem;
    }
    .view{
        flex-direction: column;
        margin-top: 2rem;
    }
}